* {
	margin: 0;
	padding: 0;
}

.play-container {
	position: relative;
}

.mask, #video-player, #video-box, #canvas-box {
	position: absolute;
	top: 0;
	left: 0;
}

#canvas-box {
	z-index: 3;
}

.mask {
	background-size: auto 50%;
	background-position: center;
	background-repeat: no-repeat;
}

#box1 {
	background-image: url(./../images/soundtooth_logo.png);
	/*background-image: url(./../images/input.png);*/
	/*background-image: url(./../images/google.png);*/
	/*background-image: url(./../images/apple.png);*/
	z-index: 2;
}

#box2 {
	background-image: url(./../images/libai.png);
	z-index: 3;
}

#box3 {
	border-radius: 4px;
	font-size: 2em;
	color: #a10000;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.6);
	transition: color 0.4s;
	-webkit-transition: color 0.4s;
	z-index: 4;
	left: 15px;
	top: 15px;
}

#image-box {
	display: none;
}

#video-player {
	width: 50%;
}
