* {
	margin: 0;
	padding: 0;
}

.play-container {
	position: relative;
}

#box, #video-player, #video-box, #canvas-box {
	position: absolute;
	top: 0;
	left: 0;
}

#canvas-box {
	z-index: 3;
}

#box {
	background-image: url(./../images/soundtooth_logo.png);
	/*background-image: url(./../images/input.png);*/
	/*background-image: url(./../images/google.png);*/
	/*background-image: url(./../images/apple.png);*/
	background-size: auto 50%;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 2;
}

#image-box {
	display: none;
}

#video-player {
	width: 50%;
}
